<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:asset.css identifier="nsNewsCommentsStyle" href="EXT:ns_news_comments/Resources/Public/css/style.css" />
<f:asset.css identifier="nsNewsCommentsFontAwesome" href="EXT:ns_news_comments/Resources/Public/css/font-awesome.min.css" />
<f:asset.script identifier="nsNewsCommentsJquery" priority="true" src="EXT:ns_news_comments/Resources/Public/js/jquery-3.6.3.min.js" />
<f:asset.script identifier="nsNewsCommentsCustomJs" src="EXT:ns_news_comments/Resources/Public/js/custom.js" />

<div class="tx_nsnewscomments">
	<f:render section="main" />
</div>
</html>
